.header{
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.logo img{
    width: 20%;
    width: 80px;
    
}

.menu{
    margin-bottom: 0;
}

.nav_item a{
    text-decoration: none;
    /* color: #fff; */
    /* color: var(--heading-color); */
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.1rem;
    list-style-type: none;
}
ul {
    list-style-type: none;
}
.nav_item a:hover{
    color: inherit;
}

.nav_item a.active_link{
    /* color: var(--secondary-color); */
    color: rgb(255, 0, 0);
}

.mobile_menu{
    font-size: 1.3rem;
    /* color: var(--heading-color); */
    color: black;
    display: none;

}

.sticky_header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #fff;
    position: sticky;
    top:0;
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 999;
}

.nav_right .nav_btns  a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}